<!-- code forked and adapted from here: https://github.com/mikhail-cct/CA1-In-class-Demo -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Blackbooks Bookstore</title>
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/BlackBooksStore.css" rel="stylesheet">
     <script src="js/BlackBooksStore.js"></script>
    <script>
    //only necessary if using not-xml
        window.addEventListener("load", function() { 
            document.forms[1].txtBillAmt.value = calculateBill('listTable');

            document.querySelector("#calcBill").addEventListener("click", function() {
                document.forms[1].txtBillAmt.value = calculateBill('listTable');
            });
        });
    </script>
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">	<a class="navbar-brand" href="#">BlackBooks Bookstore</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Services</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-left">
				<h1 class="mt-5">Welcome to BlackBooks Bookstore</h1>
				<p class="lead">Have a look at our book selection below: </p>
			</div>
			<div id="results" class="col-lg-8 text-center order-3"></div>
			<div class="col-lg-4 text-center order-2">

				<form enctype="application/json" action="/post/json" method="post">
					<div class="form-group">
						<select class="form-control" name="theme_n">
							<option value="0">Computer Science</option>
                        <option value="1">Psychological Humour</option>
                        <option value="2">Behavioral Sciences</option>
                        <option value="3">Art</option>
						</select>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="title" placeholder="Title">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="price" placeholder="Price">
					</div>
                    <div class="form-group">
                    <input class="form-control" type="text" name="author" placeholder="Author">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="genre" placeholder="Genre">
                </div>
					<button type="submit" class="btn btn-primary btn-block">Submit</button> <br>
				</form>

                    <button id="delete" class="btn btn-block btn-danger">Delete</button>
                    <p class="text-muted">To delete a book, select the equivalent box first.</p>

                <form class="" id="calc">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">&euro;</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Total" name="txtBillAmt">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <input type="checkbox" id="showVeg" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <input class="btn btn-block btn-secondary" type="button" name="btnCalcBill" value="Calculate Bill" id="calcBill">
                    </div>
                </form>

            </div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">	<span class="text-muted">Code forked from <a href="https://github.com/mikhail-cct/CA1-In-class-Demo">here</a> || Designed by Lais Carvalho&copy; 2019</span>
		</div>
	</footer>
	<!-- Bootstrap core JavaScript -->
	<script src="jquery/jquery.min.js"></script>
	<script src="jquery/table.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>